$main-color: #02ffff;
$d-main-color: #6d0202;
$l-main-color: #a40000;
$second-color: #000;

$box-sh-color: #430000;

$bg-color: #6363636e;

$active-link-color: #02ffff;

$text-color: white;
