@import "layout";
@import "common";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*, :after, :before {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto;
  padding: 0 2rem;
  width: 70%;
  margin: 0 auto;
}

.nav-link {
  white-space: nowrap;
  text-decoration: none;
  line-height: 2.4rem;
  color: $text-color;
}

.nav-link:not(:last-of-type) {
  margin-right: 4rem;
}

.nav-link:hover, .nav-link:focus {
  color: $active-link-color;
}

.link-active {
  color: $active-link-color;
}

.validation-tooltip {
  color: $l-main-color;
}

.btn {
  font-size: 1.4rem;
}

.download-btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;

  > div:first-child {
    margin-right: 1rem;
  }
}

.g-icon-print {
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

#spinner-bg {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
}

