@import "common";

.header {
  position: relative;
  background-color: $second-color;
  color: $text-color;
  height: 6.5rem;

  &__wrapper {
    position: relative;
    padding: 0 2rem;
    width: 70%;
    margin: 0 auto;
    min-height: unset;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__info {
    flex: .5 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__log {
    display: flex;
    align-items: center;
    width: 10rem;
    height: 100%;

    > button {
      font-size: 1.2rem;
      padding: .5rem 2rem;
      color: #000;
    }
  }

  &__nav-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .nav-link {
      display: flex;
      align-items: center;
      height: 100%;
      text-decoration: none;
    }

    .nav-link:not(:last-of-type):after {
      position: relative;
      left: 3rem;
      content: ' ';
      height: 3rem;
      width: .1rem;
      background-color: #fff;
    }
  }
}

.header:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 5%;
  width: 95%;
  height: 0.5rem;
  background-color: $main-color;
}

.header:before {
  content: " ";
  position: absolute;
  left: 8rem;
  top: 0;
  width: 0.1rem;
  height: 100%;
  border-color: $main-color;
  border-style: solid;
  border-bottom-color: transparent;
  border-width: 4rem 8rem 0 3rem;
  border-right-color: transparent;
  border-top-left-radius: 2rem;
}

.main {
  height: calc(100% - 10%);
  position: relative;
  top: 2rem;

  .services {

    &__header {
      font-size: 3.4rem;
      font-weight: 600;
    }

    &__content-cards {
      display: flex;
      flex-direction: column;

      &__row {
        margin-top: 2rem;
      }
    }

    &__search-form-container {
      margin: 2rem 0;
      width: 100%;
      padding: 1rem;
      background-color: $second-color;
    }

    &__search-form {
      display: flex;

      &__btn {
        font-size: 1.6rem;
      }
      .search-input {
        line-height: 3rem;
        font-size: 2rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }
  }

  .orders {

    &__header {
      margin-bottom: 2rem;
      font-size: 4.2rem;
      font-weight: 600;
    }
    .no-orders {
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
}

.auth {
  background-color: white;
  font-size: 1.6rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 45rem;
  height: 35rem;
  border: 2px solid $main-color;
  z-index: 100;
  box-shadow: 0 0 1rem $box-sh-color;
  border-radius: 5rem;

  &__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 4rem;

    &-group {

    }

    &-input {
      font-size: 1.6rem !important;
    }

    &-btn {
      background-color: $main-color !important;
      border-color: $main-color !important;
      font-size: 1.6rem !important;
    }
  }
}
